{% extends "node--teaser.html.twig" %}

{% block header %}
<h3{{ title_attributes.addClass('vm-teaser__title') }}><a href="#" rel="bookmark">{{ header.label }}</a></h3>
{% endblock %}

{% block content %}

{% if content.field_sf_person_reference | render %}
{{  content.field_sf_person_reference  }}
{% endif %}

<div{{ content_attributes.addClass('vm-teaser__summary') }}>
    {{ content|without(
      'field_sf_article_type',
      'field_sf_article_category',
      'field_sf_primary_image',
      'field_sf_person_reference',
      'field_sf_tags',
      'field_website',
      'links'
    ) }}
  </div>

{% if content.field_website | render %}
<p>{{  content.field_website  }}</p>
{% endif %}

{% endblock %}
